@import "../../../../index.scss";

.hero-bg{
    padding:1.6% 0%;
    background-color: $dark-black;
}

.hero-content{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;

    .sideImg{
        width:50%;
        img{
            width:100%;
        }
    }
}

.hero-details{
    width: 80%;
    p{
        color: white;
        font-size: 50px;
        font-weight: bold;
        line-height: 60px;
        margin: {
            left: 14%;
        }
        width: 70%;
    }
    .hero-details-desc{
        font-size: 16px;
        line-height: 20px;
    }
    h1{
        background-color:$dark-blue;
        padding: 2% 0% 2% 2%;
        margin:3% 0% 2% 14%;
        width: 70%;
        color:white;
    }
}
