@import "../../../index.scss";

.login{
    background-color: $dark-black;
    padding: 2% 0%;
}
.login_container{
    color:$white;
    width:70%;
    margin:0% auto;
    box-sizing: border-box;
}
.login_form{
    width:50%;
    margin:0 auto;
    padding:4% 0% 4% 5%;
    box-sizing: border-box;
    h3{
        text-align: center;
    }
    input{
       display:block;
       width:88%;
       padding:3% 0% 3% 2%;
       margin:1% 0% 4% 0%;
       border: none;
    }
    p{
        text-align: right;
        margin:0% 10% 4% 0%;
        cursor: pointer;
    }
    button{
        width: 90%;
        padding:3%;
        border:none;
        background-color:$dark-blue;
        color:$white;
        font-weight: bold;
    }
    a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
}
