@import "../../../index.scss";

@mixin innerReactStyle{
     align-items: center;
        column-gap: 10px;
            span{
                font-size: 1.5rem;
            }
} 

.votes-body{
    
    @include displayJustify(flex, space-between);
    padding-top: 10rem;
    margin: 0 15rem auto;
    color: rgb(60, 59, 59);

    .recent-votes { 
        @include twoColumnDisplay(7rem, 50%, 10px);
       @include bgColor-bRadius($white, 0px);

       > div {
        @include displayJustify(flex, flex-start);
        @include innerReactStyle;
       }

      .GiVote {
        color: green;
        font-size: 3rem;
       }
    }

    .active-votes {
        @include twoColumnDisplay(7rem, 50%, 10px);
        @include bgColor-bRadius(rgb(136, 198, 218), 0px);

        > div {
        @include displayJustify(flex, flex-start);
        @include innerReactStyle;
       }

       .VoteYea {
        color: $dark-blue;
        font-size:3rem;
       }

    }
}


.create-poll {
    margin: 20px 15.5% auto;
    padding: 20px;
    border: 1px solid white;
    span {
        font-size:1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .create {
            flex-grow: 1;
            margin-left: 15px;
        }
    }
    a{
        color: white;
        text-decoration: none;
    }

    &:hover{
        background-color:lightblue;
        border: none;
        a{
            color: black;
        }
    }
}
