@import "../../../index.scss";

.register{
    background-color: $dark-black;
    padding: 2.2% 0%;
}
.register_container{
    color:$white;
    width:70%;
    margin:0% auto;
    box-sizing: border-box;
    h1{
        text-align: center;
    }
}
.register_form{
    width:50%;
    margin:0 auto;
    padding:2% 0% 2% 5%;
    box-sizing: border-box;
    h3{
        text-align: center;
    }
    input:first-child{
        background-color: $dark-blue;
    }
    input{
       display:block;
       width:88%;
       padding:3% 0% 3% 2%;
       margin:3% 0% 4% 0%;
       border: none;
    }p{
        color:orangered;
        font-size:12px;
    }
    select{
        width:90%;
        padding:3% 0% 3% 2%;
        margin-bottom:4%;
    }
    button{
        width: 90%;
        padding:3%;
        border:none;
        background-color:$dark-blue;
        color:$white;
        font-weight: bold;
    }
}

