@import "../../../index.scss";

.forgot_password{
    background-color: $dark-black;
    padding: 11.5% 0%;
}
.forgot_password_container{
    color:$white;
    width:70%;
    margin:0% auto;
    box-sizing: border-box;
}
.forgot_password_form{
    width:50%;
    margin:0 auto;
    padding:4% 0% 4% 5%;
    box-sizing: border-box;
    h3{
        text-align: center;
    }
    input{
       display:block;
       width:88%;
       padding:3% 0% 3% 2%;
       margin:1% 0% 4% 0%;
       border: none;
    }
    p{
        color:orangered;
        font-size:12px;
    }
    button{
        width: 90%;
        padding:3%;
        border:none;
        background-color:$dark-blue;
        color:$white;
        font-weight: bold;
    }
}
